<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sjsu.cs286.hw2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".FlashCardActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sjsu.cs286.hw2.Landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sjsu.cs286.hw2.Landscape" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="AddActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sjsu.cs286.hw2.AddActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="DetailDisplay"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sjsu.cs286.hw2.DetailDisplay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="EditDictionary"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sjsu.cs286.hw2.EditDictionary" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>